/* 
************
Fonts
************
*/
@font-face {
    font-family: 'M-HANDI';
    src: url(./fonts/M-HANDI.TTF);
}
@font-face {
  font-family: 'mac_c_times';
  src: url(./fonts/mac_c_times.ttf);
}
@font-face {
  font-family: 'Macedonian-Ancient';
  src: url(./fonts/Macedonian-Ancient.ttf);
}
@font-face {
  font-family: 'MAKTIMES';
  src: url(./fonts/MAKTIMES.TTF);
}
@font-face {
  font-family: 'm-GOTHn';
  src: url(./fonts/m-GOTHn.TTF);
}

/* 
****************
Root Variables
****************
*/
:root{
    --gradient-linear-gradient-1: linear-gradient(to top, rgb(190, 214, 190), green);
    --gradient-linear-gradient-2: linear-gradient(to bottom, green,whitesmoke);
    --gradient-linear-gradient-3: linear-gradient(to right, lightgreen, green);
    --gradient-linear-gradient-header: linear-gradient(rgba(0,128,0,0.4),rgba(0,128,0,0.4));
    --gradient-red-black: linear-gradient(red, black);
    --br-border-radius-1: 50%;
    --br-border-border-1: 1px solid black;
    --br-border-border-2:4px solid whitesmoke;
    --clr-primary: #33FF33;
    --clr-red: rgb(211, 0, 0);
    --shadow: 0 5px 15px linear-gradient(rgba(0,0,0,0.2), gray);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --clr-primary-light-1: greenyellow;
    --clr-primary-light-2: lawngreen;
    --clr-secondary-dark: darkgreen;
    --clr-secondary: green;
    --clr-whitesmoke: whitesmoke;
    --clr-footer-bcg: #313131;
    --clr-grey-1: #102a42;
    --clr-grey-5: gray;
    --clr-grey-10: lightgray;
    --clr-white: #fff;
    --clr-black: #222;
    --clr-dark-black: black;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Grand Hotel", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --spacing2:0.85rem;
    --radius: 0.5rem;
    --ff-rakopisno:'M-HANDI';
    --ff-font1:'mac_c_times';
    --ff-font2:'Macedonian-Ancient';
    --ff-font3:'MAKTIMES';
    --ff-font4:'m-GOTHn';
}
/* 
****************
Global Settings
****************
*/
html{
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*=col-] {
    padding: 25px;
    float: left;
}

/* 
================
Start of Header 
================
*/
header body {
  background: var(--gradient-linear-gradient-1);
}
.header {
    background: url(./images/forest1.jpg) center/cover no-repeat;
    min-height: 400px;
    border-bottom-left-radius: 270px;
}

.header .col-12{
    width: 100%;
    height: 100%;
    padding: 0;
}

.bottom {
    height: 80vh;
    border-bottom-left-radius: 150px;
    z-index: 1;
    
}
.logo1 {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 280px;
    left: 25px;
    border: var(--br-border-border-2);
    border-radius: var(--br-border-radius-1);
    -webkit-border-radius: var(--br-border-radius-1);
    -moz-border-radius: var(--br-border-radius-1);
    -ms-border-radius: var(--br-border-radius-1);
    -o-border-radius: var(--br-border-radius-1);
}
.backgroundimg {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 150px;
    justify-content: space-around;
}

.animation-text {
    align-self: center;
    text-align: center;
    height: 70%;
}
.animation-text-1 {
    padding-bottom: 2rem;
    letter-spacing: var(--spacing);
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    text-shadow: 0 5px 5px var(--clr-black);
    animation:move 5s 1;
    -webkit-animation:move 5s 1;
    font-size: 3rem;
}
.animation-text-2 {
    letter-spacing: var(--spacing2);
    color: var(--clr-white);
    font-family: var(--ff-rakopisno);
    line-height: 4.5rem;
    font-size: 7rem;
    text-shadow: 0 5px 5px var(--clr-black);
    animation: slidein 5s ease;
    -webkit-animation: slidein 5s ease;

}
@keyframes move {
    0% {
        transform: translateX(70%);
        opacity: 0.1;
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
}
    25% {
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
        opacity: 0.25;
}
    50% {
        opacity: 0.5;
}
    75% {
        opacity: 0.75;
}
    100% {
        transform: translateX(0%);
        opacity: 1;
}
}
@keyframes slidein {
    0% {
        transform: translateX(-70%);
        opacity: 0.1;
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
}
    25% {
        transform: translateX(70%);
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
        opacity: 0.25;
}
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
}}
/* 
================
Start of Nav Section
================
*/
nav {
  position: relative;
  background: var(--gradient-linear-gradient-header);
  padding: 1rem 1.5rem;
  z-index: 999;
  /* opacity: 0.6; */
  /* border-bottom-left-radius: 50px; */
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gradient-linear-gradient-header);
  box-shadow: var(--light-shadow);
  /* opacity: 0.8; */

}

.fixed-nav .links a {
  color: var(--clr-white);
}
.fixed-nav .links a:hover {
  color: var(--clr-dark-black);
  font-weight: bolder;
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* opacity: 0.4; */
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    
}
.show-links {
  height: 200px;
  z-index: 999;
}
.links li a{
  color: var(--clr-white);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
  font-family: var(--ff-font4);
}
.links li a:hover {
  color: var(--clr-black);
  font-weight: bold;
}

.logo{
    border-radius: var(--br-border-radius-1);
    border: var(--br-border-border-2);
    height: 50px;
    -webkit-border-radius: var(--br-border-radius-1);
    -moz-border-radius: var(--br-border-radius-1);
    -ms-border-radius: var(--br-border-radius-1);
    -o-border-radius: var(--br-border-radius-1);
}


/* 
================
Start of Filter Section
================
*/    

.skills {
  display: flex;
  background: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
}
.skill {
    width: 20%;
    background: var(--clr-grey-10);
    border: none;
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    font-family: var(--ff-font4);
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 0 3px 5px var(--clr-dark-black);
}
.skill-title {
    color: var(--clr-grey-1);
}

.skill:hover {
    background: var(--clr-white);
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    border-left: solid 8px var(--clr-black);
    border-right: solid 8px var(--clr-red);
  
}
.section-center {
    width: 90vw;
    margin: 1rem auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 9rem;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  .menu-item {
    display: flex;
    box-shadow: var(--light-shadow);
    width: 100%;
  }
.photo {
    object-fit: cover;
    height: 200px;
    /* border: 0.25rem solid var(--clr-black);
    border-radius: var(--radius); */
    width: 100%;
}
.item-info{
  width: 50%;
}
.item-info header {
  display: flex;
  width: 23rem;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px dotted var(--clr-grey-5);
  font-family: var(--ff-rakopisno);
  font-size: 2rem;
  
  }
.info-title h4 {
  /* margin-bottom: 0.5rem; */
  /* text-transform: capitalize; */
  letter-spacing: var(--spacing);
  font-size: 2rem;
}  
.info-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-black);
  transition: var(--transition);
}
.info-btn:hover{
  transform: rotate(90deg);
}

  .price {
    color: var(--clr-black);
  }
  .info-text {
    margin-bottom: 0;
    padding-top: 1rem;
    display: none;
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
.show-text .info-text{
  display: block;
  /* width: 50%; */
  padding-left: 2rem;
  font-family: var(--ff-font2);
  font-size: 1.2rem;
}
  
  .minus-icon {
    display: none;
  }
.show-text .minus-icon {
    display: inline;
  }
.show-text .plus-icon {
    display: none;
  } 



.line {
    height: 0.35rem;
    background: linear-gradient(0.25turn, var(--clr-white), var(--clr-grey-5), var(--clr-white));
    margin: 0;
    padding: 0;
    border: none;
    position: inherit;
    opacity: 1;
}
.fullscreenpic{
  height: 175px;
}
/* 
================
Start of Gallery Section
================
*/
#podatoci {
  letter-spacing: normal;
  font-family: var(--ff-font4);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#ime {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#materijal{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card-gallery {
    margin-bottom: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
}
.wrap-div{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  height: 650px;
  width: 40%;
  box-shadow: 0 5px 10px black;
  background: whitesmoke;
  margin-right: 4rem;
  border-bottom-left-radius: 5rem;
}
.images-container {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7)),
  url(./images/forest1.jpg);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 50%;
}
.image2 {
  position: relative;
  align-self: center;
  top: 30px;
  border: 2px solid white;
  box-shadow: 0 5px 10px black;
  width: 87%;
  /*padding-top: 2rem;
  */overflow: hidden;
  align-self: flex-end;
  height: 93%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.prev-btn,
.next-btn {
color: gray;
font-size: 2rem;
background: transparent;
border-color: transparent;
/* margin: 0 0.5rem; */
transition: all 0.3s linear;
cursor: pointer;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
text-shadow: 0 3px 10px black;
position: relative;
top: 5px;
}

.prev-btn:hover,
.next-btn:hover {
color: #333;
}
.random-btn {
  /* margin-top: 0.5rem; */
  background: linear-gradient(to bottom, whitesmoke,green);
  color: black;
  padding: 0.25rem 0.5rem;
  width: 10rem;
  text-transform: capitalize;
  /* border-radius: 0.5rem; */
  transition: all 0.3s linear;
  /* border-color: black; */
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  /* height: 50px; */
  position: relative;
  bottom: 1px;
  box-shadow: 0 3px 10px black;
  font-family: 'M-HANDI';
  font-size: 25px;
  font-weight: bold;
}
.random-btn:hover {
  background: linear-gradient(to bottom, green,whitesmoke);
  color: white;
}
#secondimage {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  /*background: yellowgreen;
  */
}
#secondimage:hover {
  opacity: 0.9;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.dugminja{
  padding-bottom: 3rem;
  margin-top: 2rem;
  padding-top: 1rem;
  height: 10%;
}
.about {
  background: white;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 35%;
  width: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 2px 5px var(--clr-black);

}
.btn-container1 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-10);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  font-family: var(--ff-font4);
}
.tab-btn:hover:not(.active) {
  background: var(--clr-whitesmoke);
  color: var(--clr-black);
}

/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding-top: 2rem;
  background: var(--clr-whitesmoke);
  text-align: center;
  font-family: var(--ff-font4);
  font-size: 1.5rem;
  letter-spacing: var(--spacing2);
  /* text-transform: capitalize; */
}


.main-text {
  display: flex;
  background: var(--clr-whitesmoke);
  box-shadow: 0 2px 5px var(--clr-black);
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  align-self: center;
  height: 375px;
}
.main-paragraph  a{
  text-decoration: none;
  color: var(--clr-secondary-dark);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.drvo-tekst{
  font-family: var(--ff-font2);
  align-self: center;
}
.main-paragraph .renesansa:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  color: var(--clr-primary-light-1);
}
.main-paragraph a:hover {
  text-shadow: 0 5px 15px var(--clr-black);
  color: var(--clr-primary-light-2);
  font-size: 2rem;
}

.information-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 50%;
}
.title {
    font-family: var(--ff-rakopisno);
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
}
.title h2 {
    margin: 0;
}

/* 
================
Start of About Section
================
*/
.about-pictures-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    height: 600px;
}
.main-item-picture {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px var(--clr-black);
}
.about-picture {
    display: flex;
    justify-content: center;
    border-bottom: 12px solid;
    border-image-slice: 1;
    border-image-source: var(--gradient-linear-gradient-3);
    width: 100%;
    height: 40%;
    box-shadow: 0 5px 15px var(--clr-black);
    overflow: hidden;
    background: var(--clr-grey-10);
    border-top-left-radius: 3rem;
    z-index: 1;
}
.photo1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50px;
}

.dabvazna {
    border: 7px solid var(--clr-white);
    z-index: 2;
    border-radius: 50%;
    width: 70%;
    height: 100%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.photo2 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50px;
}
.about-text {
    text-align: center;
    display: flex;
    padding: 1rem;
    height: 60%;
    font-family: var(--ff-font1);
}

.about-text p, h1 {
    justify-self: flex-end;
    align-self: flex-end;
}

/* 
================
Start of Contact Section
================
*/

.contact-form {
    position: relative;
    background: var(--clr-grey-10);
    margin-top: 3rem;
    padding-bottom: 4rem;
}
.contact-info {

    margin-top: 3rem;
    left: 30px;
    /* max-width: 50%; */
}
.contact-info i {
    color: var(--clr-primary-light);
}
.contact-form-form {
    margin-top: 2rem;
    background: var(--clr-white);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    max-width: 25rem;
    width: 100%;
    height: 470px;
    align-self: flex-end;
    font-family: var(--ff-font4);
}
.submit-btn{
  font-family: var(--ff-font4);
  font-size: 1.17rem;
  font-weight: bold;
}
.contact-text{
  display: flex;
  justify-content: space-around;
}
.contact-form-form:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.contact-form-form h3 {
    padding-top: 1.25rem;
    color: var(--clr-grey-5);
}
.form-group {
    padding: 1rem 1.5rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}
.form-msg{
  height: 209px;
}
.form-control::placeholder{
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-section {
    margin-top: 1rem;
}


/* 
===============
FOOTER
===============
*/
.footer{
    margin-top: 2rem;
    padding-top: 2rem;
    height: 100%;
    background: var(--clr-footer-bcg);
    padding-bottom: 2rem;
}
.footer-social-media {
    margin-top: 2rem;
    color: var(--clr-white);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.55rem;
}
.footer-text {
    margin-top: 1rem;
    color: var(--clr-white);
    font-size: 1rem;
    text-align: center;
    letter-spacing: var(--spacing);
}
.social-icons {
    color: var(--clr-white);
}
.social-icons:hover {
    color: var(--clr-primary);
}
.adress{
  font-family: var(--ff-font4);
}

/* 
********************
Back to Top Button
********************
*/
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

.mapa{
  box-shadow: var(--light-shadow);
}

/* 
******************
Media Queries
******************
*/
@media screen and (min-width: 800px) {

  #about {
      /* margin-bottom: 20rem; */
  }  
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
@media screen and (min-width: 768px) {
  .menu-item {

  }
  .photo {
    height: 175px;
    width: 230px;
  }
}
@media screen and (max-width: 1200px){
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .menu-item {
    width: 100%;
  }
  .item-info header{
    width: 100%;
  }

}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .menu-item {
    width: 100%;
  }
  .item-info header{
    width: 100%;
  }
  .card{
    width: 54%;
    margin-right: 2rem;
  }
  .about{
    width: 96%;
  }
  .main-text{
    align-self: flex-start;
    width: 96%;
  }
  .mapa{
    min-width: 600px;
  }
}
@media screen and (min-width: 1400px) {
  .mapa{
    min-width: 600px;
  }
}
@media screen and (max-width:1440px) {
  .card{
    /* height: 550%; */
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .card{
    height: 470px;
    /* margin-right: 2rem; */
  }
  .main-text{
    align-self: flex-start;
    height: 60%;
    width: 96%;
  }
  .about{
    width: 96%;
  }
  .dugminja{
    padding-top: 0;
  }
  .mapa{
    width: 100%;
  }
}
@media screen and (min-width: 828px) and (max-width: 1023px) {
  .card{
    width: 50%;
    height: 550px;
    margin-right: 2rem;
  }
  .section-center{
    gap: 3rem 2rem;
  }
  .info-text{
    padding-bottom: 0;
  }
  .main-text{
    align-self: flex-start;
    height: 60%;
    width: 96%;
    font-size: 1.2rem;
  }
  .about{
    width: 96%;
  }
  .dugminja{
    padding-top: 0;
  }

  .mapa{
    width: 100%;
  }
  .about-text{
    font-size: 0.875rem;
  }
}
@media(max-width:767px){
  .contact {
      display: flex;
      justify-content: end;
      align-content: flex-end;
      flex-direction: column;
  }
  .contact-form-form {
      justify-self: center;
      align-self: center;
      width: 60%;
  }
  .contact-info {
      margin: 0;
      align-self: center;
  }
  .about{
    width: 90%;
    align-self: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 827px){
  .card{
    width: 80%;
    height: 650px;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .section-center{
    gap: 3rem 2rem;
    grid-template-columns: none;
    justify-content: stretch;
  }
  .item-info{
    width: 100%;
  }
  .photo {
    /* width: 100%; */
  }
  .info-text{
    padding-bottom: 0;
  }
  .main-text{
    align-self: center;
    height: 60%;
    width: 96%;
    font-size: 1.2rem;
  }
.wrap-div {
  flex-direction: column;
  align-items: center;
}
.main-item-picture{
  width: 40%;
}
  .information-container{
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  .about{
    width: 96%;
  }
  .dugminja{
    padding-top: 0;
  }

  .mapa{
    width: 100%;
  }
  .about-text{
    font-size: 0.875rem;
  }
.contact{
  flex-direction: column;
  align-items: center;
}
.contact-form-form{
  align-self: center;
  max-width: 80%;
}
.dabvazna{
  width: 40%;
}
.about{
  width: 90%;
  align-self: center;
}
}

@media screen and (min-width: 475px) and (max-width: 767px) {
  .card{
    width: 90%;
    height: 500px;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .item-info{
    width: 100%;
  }
  .photo {
    width: 100%;
  }
  .info-text{
    padding-bottom: 0;
  }
  .main-text{
    align-self: center;
    height: 60%;
    width: 96%;
    font-size: 1.2rem;
  }
.wrap-div {
  flex-direction: column;
  align-items: center;
}
.main-item-picture{
  width: 40%;
}
  .information-container{
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  .about{
    width: 96%;
  }
  .dugminja{
    padding-top: 0;
  }

  .mapa{
      width: 90%;
      border: 0;
      align-self: center;
      /* margin-left: 1.5rem; */
  }
  .about-text{
    font-size: 0.875rem;
  }
.contact{
  flex-direction: column;
  align-items: center;
}
.contact-info{
  display: flex;
  flex-direction: column;
  width:auto;
}

.contact-text{
  justify-content: center;
}

.section-center{
  gap: 3rem 2rem;
  grid-template-columns: auto;
  justify-content: stretch;
}
.dabvazna{
  width: 40%;
}

.contact-form-form{
  width: 90%;
}
.about{
  width: 90%;
  align-self: center;
}
}

@media screen and (min-width: 300px) and (max-width: 475px){
  body{
    font-size: 11px;
  }
  .section-center{
    grid-template-columns: none;
  }
  .photo{
    /* width: 50%; */
  }
  .animation-text-1{
    font-size: 1.875rem;

  }
  .animation-text-2{
    font-size: 1.875rem;
  }
  .animation-text{
    position: relative;
    top: 100px;
  }
  .main-text{
    margin-top: 1rem;
    height: auto;
    font-size: 11px;
    width: 90%;
  }
  .wrap-div{
    flex-direction: column;
  }
  .card{
    height: 460px;
    width: 90%;
    margin-right: 0;
    margin-bottom: 1rem;
    align-self: center;
  }
  .information-container{
    flex-direction: column;
    width: auto;
  }
  .about-pictures-container{
    flex-direction: column;
    align-items: center;
  }
  .main-item-picture{
    width: 50%;
    height: 50%;
    margin-bottom: 2rem;
  }
  .dabvazna{
    width: 50%;
  }
  .about-text{
    font-size: 7px;
  }
  /* .contact-info{
    margin-top: 0;
    max-width: 100%;
  } */
  .mapa{
    width: 100%;
    margin-right: 0;
  }
  .contact-form-form{
    width: 90%;
  }
  .animation-text-2{
    line-height: 2rem;
  }
  .menu-item{
    /* width: 300px; */
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .drvo-tekst{
    font-size: 20px;
  }
  .fullscreenpic{
    height: 200px;
    width: 150px;
  }
}

@media screen and (max-width:425px) {
  .card{
    height: 410px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .drvo-tekst{
    font-size: 20px;
  }
}
@media screen and (max-width:320px) {
  .card{
    height: 360px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .drvo-tekst{
    font-size: 20px;
  }
}

@media screen and (min-width:500px) and (max-width: 549px) {
  .card{
    height: 500px;
    width: 90%;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .drvo-tekst{
    font-size: 20px;
  }
  .fullscreenpic{
    height: 200px;
    width: 330px;
  }
  .about-text{
    font-size: 11px;
  }
}
@media screen and (min-width:550px) and (max-width: 600px) {
  .card{
    height: 550px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .drvo-tekst{
    font-size: 20px;
  }
  .fullscreenpic{
    height: 200px;
    width: 400px;
  }
}

@media screen and (min-width:601px) and (max-width:655px) {
  .card{
    height: 600px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .drvo-tekst{
    font-size: 20px;
  }
  .fullscreenpic{
    height: 200px;
    width: 400px;
  }
}
@media screen and (min-width:656px) and (max-width:700px) {
  .card{
    height: 650px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .fullscreenpic{
    height: 200px;
    width: 450px;
  }
}
@media screen and (min-width:701px) and (max-width:767px) {
  .card{
    height: 700px;
  }
  .about{
    width: 90%;
    align-self: center;
  }
  .main-text{
    width: 90%;
  }
  .fullscreenpic{
    height: 200px;
    width: 500px;
  }
  body{
    background-color: red;
  }
}